<div id="top-contents">
  <h1 class="text-center">目次</h1>
  <div class="accordion" id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ruby
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="table-of-contents">
            <ul>
              <li><%= link_to "puts", "/puts" %></li>
              <li><%= link_to "if", "/if" %></li>
              <li><%= link_to "unless", "/unless" %></li>
              <li><%= link_to "each", "/each" %></li>
              <li><%= link_to "join", "/join" %></li>
              <li><%= link_to "nil?", "/nil?" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ruby on Rails
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="table-of-contents">
            <ul>
              <li>MVC</li>
              <li>if</li>
              <li>unless</li>
              <li>each</li>
              <li>join</li>
              <li>nil?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Git
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="table-of-contents">
            <ul>
              <li>add</li>
              <li>commit</li>
              <li>branch</li>
              <li>marge</li>
              <li>push</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>